html,
body,
#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.container {
  margin: 0 auto;
  display: flex;
}

.row {
  display: flex;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.column-wrap {
  flex-direction: column;
  padding: 0;
}

.dropdown-container {
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: top 500ms ease;
  background-color: white;
  z-index: 1000;
  height: 90vh;
  width: 100%;
  flex-wrap: nowrap;
}

.show-dropdown-container {
  top: 0;
}

@media screen and (min-width: 576px) {
  div.button-div {
    justify-content: end;
  }

  form button {
    width: 15%;
  }
}

@media screen and (min-width: 768px) {
  .bar-container {
    display: none;
  }

  .dropdown-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1000;
    height: 90vh;
    width: 33.33%;
  }

  .show-dropdown-container {
    top: 0;
  }

  #map {
    height: 100%;
    width: 66.67%;
    position: absolute;
    right: 0;
  }

  form input {
    flex-basis: 100%;
    max-width: 300px;
  }

  form label {
    flex-basis: 100%;
    max-width: 300px;
  }

  form button {
    width: 35%;
  }
}

@media screen and (min-width: 1280px) {
  form button {
    width: 20%;
  }
}

@media screen and (max-height: 720px) {
  h1 {
    font-size: 1rem;
    margin: 0;
  }
}
