html,
body,
#map {
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
}

.row {
  display: flex;
  padding: 0 1rem;
}

.column-third,
.column-three-quarter,
.column-full {
  flex-basis: 100%;
}

.column-one-tenth {
  flex-basis: 10%;
}

.column-eight-tenth {
  flex-basis: 80%;
}

.column-wrap {
  flex-direction: column;
  padding: 0;
}

.justify-center {
  justify-content: start;
}

.dropdown-container-desktop {
  display: none;
}

#geocode-desktop-form {
  display: none;
}

@media screen and (min-width: 576px) {
  .column-third {
    flex-basis: calc(100% / 3);
  }

  .column-half {
    flex-basis: calc(100% / 2);
  }

  .column-three-quarter {
    flex-basis: calc(100% / 9);
  }

  .column-full {
    flex-basis: 100%;
  }

  .justify-center {
    justify-content: center;
  }

  #geocode-desktop-form {
    display: block;
  }

  .bar-container {
    display: none;
  }

  .dropdown-container-desktop {
    flex-basis: 33%;
    display: block;
  }

  #map {
    height: 100%;
    width: 100%;
  }
}
