body {
  font-family:
    roboto,
    "open sans",
    sans-serif;
}

form {
  padding: 1rem;
  border-bottom: 1px solid black;
  display: none;
}

label {
  padding: 0.5rem 0;
}

button {
  background-color: rgb(93, 208, 103);
  font-family:
    roboto,
    "open sans",
    sans-serif;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 33%;
}

input {
  background-color: rgba(182, 182, 182, 0.75);
  padding: 0.5rem;
  width: 100%;
}

button:focus-visible,
input:focus-visible {
  outline: none;
}

input:invalid {
  border: 1px solid red;
}

input:focus:invalid {
  outline: none;
}

button:hover,
i:hover {
  cursor: pointer;
}

button:hover {
  background-color: rgba(93, 208, 103, 0.75);
}

i:hover {
  color: rgba(0, 0, 0, 0.5);
}

.silly-test {
  font-size: 1.25rem;
}

.show {
  display: block;
}

.gray-background {
  background-color: #b6b6b6;
}

.relative {
  position: relative;
}

.white-text {
  color: white;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-items {
  align-items: center;
}

.height-90 {
  height: 90%;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.bottom-margin {
  margin-bottom: 2rem;
}

.padding-0 {
  padding: 0;
}

.error {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 80%;
  color: red;
  box-sizing: border-box;
}

.bar-container {
  padding: 0.5rem;
}

.bar-container i {
  color: white;
}

.navbar {
  z-index: 1001;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #4b8673;
  position: relative;
}

.popup-div {
  margin: 0;
  padding: 0;
}

.button-div {
  display: flex;
  justify-content: end;
}

.popup-div .button-div {
  justify-content: space-around;
}

.popup-div button {
  width: 40%;
  font-size: 0.75rem;
}

.instruction,
.poi-result {
  border-bottom: 1px solid black;
  padding: 1rem;
}

.instruction p,
.poi-result p {
  margin-top: 0;
}

.instruction:hover,
.poi-result:hover {
  background-color: rgba(182, 182, 182, 0.5);
}

.loader-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-loader-container {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #4b8673;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  animation: spin 1s linear infinite;
}

#directions-form,
#pois-form {
  overflow-y: scroll;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
